@import '../../assets/scss/base';

.about {
  padding: 150px 0 0;
  // background: linear-gradient(45deg,white 0%,white 70%,map-get($theme-colors, dark) 50%,map-get($theme-colors, dark) 100%);

  @include media-breakpoint-down(md)  {
    // background: linear-gradient(90deg, white 0%, white 90%, map-get($theme-colors, dark) 50%, map-get($theme-colors, dark) 100%);
  }
}

.about-img {
  border: 15px solid map-get($theme-colors, dark);

  @include media-breakpoint-down(md)  {
    border: none;
  }
}

.gif-section {
  margin: 100px 0 -10px;
  position: relative;

  @include media-breakpoint-down(lg)  {
    margin: 100px 0 -10px;
  }
}

.gif-section-img {
  width: 100%;
}

.gif-section-text {
  position: absolute;
  right: 100px;
  top: 350px;

  @include media-breakpoint-down(lg)  {
    display: none;;
  }
}

