@import '../../assets/scss/base';

.about {
  padding: 150px 0 0;
}

.about-img {
  border: 15px solid black;
}

.gif-section {
  margin: 100px 0 -10px;
  position: relative;

  @include media-breakpoint-down(lg)  {
    margin: 100px 0 -10px;
  }
}

.gif-section-img {
  width: 100%;
}

.gif-section-text {
  position: absolute;
  right: 100px;
  top: 350px;

  @include media-breakpoint-down(lg)  {
    display: none;;
  }
}

