<div class="hero">
  <div class="hero-inner" inViewport (inViewportAction)="onIntersection($event)">
    <div class="container" *ngIf="readFlg">
      <div [class.fadeIn]="readFlg" class="sub-title -ja -big animated delay-4s">進化する移動カフェ</div>
      <h1 class="title -big">
        <span class="text-marker -big">
          <span [class.fadeIn]="readFlg" class="animated">MORE </span>
          <span [class.fadeIn]="readFlg" class="animated delay-1s">THAN</span>
        </span>
        <br class="">
        <span class="text-marker -big -delay">
          <span [class.fadeIn]="readFlg" class="animated delay-2s">CAFE </span>
          <span [class.fadeIn]="readFlg" class="animated delay-3s">TRUCK</span>
        </span>
      </h1>
    </div>
  </div>
</div>
