<div class="form bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="sub-title -ja text-white">お問い合わせ</div>
        <h1 class="title mb-5">
          <span class="text-white">contact</span>
        </h1>
      </div>
      <div class="col-12 col-md-8">
        <div class="sub-title -ja text-white mt-md-5 mb-5" *ngIf="!isSend">出店場所や出店依頼・ご質問などお気軽にご相談ください</div>
      </div>
    </div>
    <form [formGroup]="formGroup" (validSubmit)="onSubmit()" class="row" *ngIf="!isSend">
      <div class="col-12">
        <div class="form-group">
          <label class="text-dark-lighten-1" for="name">Name</label>
          <input id="name" name="name" autocomplete="name" type="text"class="form-control" formControlName="Name">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <label class="control-label text-dark-lighten-1">Email</label>
          <input type="email" autocomplete="email" class="form-control" formControlName="Email">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="text-dark-lighten-1" for="memo">Contents</label>
          <textarea id="memo" class="form-control" name="memo" rows="10" cols="30" formControlName="DetailContent"></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="text-right">
          <div class="form-group my-5">
            <!-- <button class="btn btn-primary pull-right" type="submit" [disabled]="!formGroup.valid">Submit</button> -->
            <button class="btn btn-primary pull-right" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div class="form-inner" *ngIf="isSend">
      <div class="row vanishIn duration-2">
        <div class="col-12 col-md-8 mx-auto">
          <div class="sub-title -ja text-white py-5">
            お問い合わせが完了しました。
            <br>
            このたびはお問い合わせいただきありがとうございます。
            <br>
            2営業日以内に、担当者よりご連絡いたしますので今しばらくお待ちくださいませ。
          </div>
          <hr>
          <div class="btn mx-auto my-5" (click)="showToggle()">送信画面に戻る</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-img-section">

  </div>
</div>
