<!--The content below is only a placeholder and can be replaced.-->
<app-scroll-icon></app-scroll-icon>
<app-hero></app-hero>
<app-about></app-about>
<app-form></app-form>
<footer class="bg-dark-darken-1 pt-4 pt-2">
  <div class="text-white text-center">
    Copyright © 2018 Cafe More All Rights Reserved.
  </div>
  <div class="text-center pb-3">
    <a href="https://www.instagram.com/cafe.more.jp/" class="text-white" target="_blank" rel="noopener noreferrer">
      <i class="icon ion-logo-instagram mx-2"></i>
    </a>
    <a href="https://mobile.twitter.com/cafemore3/" class="text-white" target="_blank" rel="noopener noreferrer">
      <i class="icon ion-logo-twitter mx-2"></i>
    </a>
    <a href="https://www.facebook.com/Cafe-More-2152346448364455/" class="text-white" target="_blank" rel="noopener noreferrer">
      <i class="icon ion-logo-facebook mx-2"></i>
    </a>
  </div>
</footer>
