@import '~reset-css/sass/reset';
@import './assets/scss/base';

* {
  box-sizing: border-box;
}


body {
  font-family:  'Noto Sans JP', "游ゴシック体",YuGothic,"游ゴシック","Yu Gothic","メイリオ",sans-serif;
  font-size: 16px;
  line-height: 1.85;
}

.container {
  max-width: 100%;
}

.title {
  position: relative;
  font-family:  'Oswald';
  font-size: 64px;
  font-weight: 900;
  line-height: 1.4;
  font-feature-settings: "palt";
  z-index: 10;

  &.-big {
    font-size: 120px;

    @include media-breakpoint-down(lg)  {
      font-size: 50px;
    }
  }
}

.sub-title {
  font-size: 16px;
  font-weight: 900;
  font-feature-settings: "palt";

  &.-ja {
    letter-spacing: 5px;
  }

  &.-big {
    font-size: 32px;

    @include media-breakpoint-down(lg)  {
      font-size: 20px;
    }
  }
}

.text-marker {
  position: relative;


  &::after {
    content: '';
    position: absolute;
    padding: 3px 5px;
    width: 100%;
    height: 70%;
    background: white;
    left: 0;
    bottom: 10px;
    z-index: -1;
  }
}

.btn {
  width: 250px;
  height: 50px;
  max-width: 100%;
  color: darken(#3C3D42, 10%);;
  font-size: 22px;
  font-weight: bold;
  background: lighten(#3C3D42, 50%);
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken(#3C3D42, 10%);
  }

  &:disabled {
    background: darken(#3C3D42, 30%);
  }
}


.kerning {
  letter-spacing: 5px;
}
